.App {
  background-color: #DDD;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 90%;
  height: 90vh;
  border-radius: 10px;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
  box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
}

.dice-container {
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto;
}

.dice-button {
  /*margin: 3%;*/
  padding: 8px 40px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  font-size: 26px;
  color: white;
}

.dice-score {
  position: absolute;
  top: 6%;
  left: 6%;
  font-size: 34px;
  font-weight: bold;
}

.dice-end-score {
  font-size: 32px;
}